:root{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
article{
    border-left: 10px solid yellow;
    padding: 10px;
    background: red;
    margin-top: 15px;
    margin-bottom: 15px;
}

h1 {
	color:blue;
	font-family:georgia;
}